---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
  <h2>About This Collection</h2>
  <p>
    Welcome to the Astro Recipe Collection, where you can find a variety of
    delicious recipes to try at home.
  </p>
</MainLayout>
